.head {
  background-color: pink;
  width: 600px;
  margin: 0 auto;
  display: flex;
  height: 180px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.head h1 {
  margin: 0;
  padding: 0;
}
.head input {
  padding: 20px;
}
.head button {
  padding: 20px;
}
